@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    font-family: Inter;
}

footer a {
    font-family: Helvetica, Arial, sans-serif !important;
}

footer p {
    font-family: Helvetica, Arial, sans-serif !important;
}

.row p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.anuncio {
    background: black;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial !important;
}

.anuncio p {
    color: white !important;
}

.anuncio a {
    margin-left: 50%;
    margin-right: 50%;
}

/* Paragraph */
.anuncio p:nth-child(6) {
    color: #4fff19 !important;
}


.anuncio .center p:nth-child(4) {
    text-decoration: line-through;
    color: #e00000 !important;
}

.botaoComprar {
    position: relative;
    width: 200px;
    height: 60px;
    background: green;
    border-radius: 10px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    justify-content: center;
}

.botaoComprar:hover {
    color: white;

}