@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

html {
    width: 100%;
    height: 100%;
}

* {
    font-family: Inter;
}

/* Nav link */
.navbar .container-fluid #navbarNav .navbar-nav .nav-item .nav-link {
    font-family: Helvetica !important;
}

/* Nav link */
.navbar .nav-link {
    font-family: Helvetica;
}

/* Nav link */
.navbar-nav .nav-item .nav-link {
    font-family: Helvetica !important;
}

footer a {
    font-family: Helvetica, Arial, sans-serif !important;
}

footer p {
    font-family: Helvetica, Arial, sans-serif !important;
}

.row p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.anuncio {
    background: black;

}

.text-white:nth-child(3) a {
    margin-left: 50%;

}

/* Paragraph */
.text-white:nth-child(3) p:nth-child(6) {
    color: #4fff19 !important;
}


.text-white:nth-child(3) .center p:nth-child(4) {
    text-decoration: line-through;
    color: #e00000 !important;
}

.text-white:nth-child(3) {
    background-color: #000000;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial !important;
}

.botaoComprar {
    position: relative;
    width: 200px;
    height: 60px;
    background: green;
    border-radius: 10px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    justify-content: center;
}

.botaoComprar:hover {
    color: white;
}