@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.cartao,
.pessoal,
#btnFinalizar,
.usuario {
    margin-left: 3%;
}

.centro {
    margin-left: auto !important;
    margin-right: auto !important;
}