/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%;

    margin: auto;
    min-height: 200px;
}


@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.about-product {
    margin-top: 5%;
}

footer {
    background-color: #421e5e;
    color: white;
    height: calc(100% + 25px);
}

/* Botão comprar */
.about-product .container .row .row .col-sm-12 a {
    width: calc(80% - 60px) !important;
}

/* Imagem do carrinho no botão comprar */
.about-product .btn-success img {
    position: relative;
    left: -15px;
}

.teste{
    display: none;
}